html {
    background-color: #222;
}
body {
    font: 62.5% helvetica, arial, sans-serif;
    font-weight: lighter;
    color: #bbb;
}
body.extra-wide {
    font-size: 120%;
}
body.wide {
    font-size: 60%;
}
body.narrow {
    font-size: 40%;
}

a, a:link, a:active, a:visited {
    text-decoration: none;
    color: #555;
}
a.highlight {
    color: #bbb;
}
a:hover {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse; /* 'cellspacing' equivalent */
}
table td, table th {
    padding: .2em 0 .2em 0; /* 'cellpadding' equivalent */
}

input, select, button, textarea {
    border-radius: .2em;
    background-color: #424242;
    border: 0;
    color: #888;
    font-size: 1.4em;
}
textarea.element-script {
    resize: none;
    width: 50em;
    height: 10em;
}
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 100%;
    height: auto;
    padding: .4em;
    overflow: auto;
    font: 1.1em "Lucida Console", Monaco, monospace;
}

.content {
    margin: 0 15% 14em 15%;
}
.content-div {
    margin-top: .2em;
    background-color: #272727;
}
.content-element {
    position: relative;
    padding: .8em;
}
.content-new {
    background-color: transparent;
    padding: .8em;
}
.element-highlight {
    background-color: #2d2d2d;
}
.element-name {
    font-size: 1.6em;
    vertical-align: bottom;
}
.element-info, .element-edit, .element-new {
    display: none;
    padding: .8em;
}
.element-log {
    margin: 0;
    padding: 0;
    height: 12em;
    width: 100%;
}
.element-actions {
    display: none;
    position: absolute;
    padding: .8em;
    top: 0;
    right: 0;
}
.save-action {
    display: none;
}
.element-new-actions {
    padding: .8em;
    text-align: center;
}
.text-title {
    font-size: 1.6em;
}
.text-normal {
    font-size: 1.4em;
}

.default-text {
    width: 30em;
}
.default-text-active {
    color: #777;
    font-style: italic;
}

.img-button {
    height: 2.4em;
}

.service-status {
    display: inline-block;
    width: 7em;
    margin-right: .4em;
    padding: .2em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    -ms-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    letter-spacing: .1em;
    text-shadow: .1em .1em .1em rgba(25, 25, 25, 0.7);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
}
.service-running {
    background-color: green;
}
.service-stopped {
    background-color: red;
}

.log-overlay {
    display: none;
    z-index: 9999;
    width: 90%;
    height: 90%;
    background-color: black;
    -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
}
.log-actions {
    position: absolute;
    top: .8em;
    right: .8em;
}
.log-overlay-content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
