.content {
    margin: 5em 15% 14em 15%;
}
.content-div {
    padding: .8em;
    background-color: #272727;
}
.content-new {
    position: absolute;
    display: none;
    z-index: 999;
    left: 15%;
    right: 15%;
    top: 0;
    -webkit-box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4em rgba(0, 0, 0, 0.2);
}
.content-new-trigger {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 0;
    height: 5em;
    background-color: transparent;
}
.content-element {
    position: relative;
    margin-top: 1px;
}
.element-highlight {
    background-color: #2d2d2d;
}
.element-name {
    font-size: 1.6em;
    vertical-align: bottom;
}
.element-info, .element-edit {
    display: none;
    padding: .8em;
}
.element-log {
    margin: 0;
    padding: 0;
    height: 12em;
    width: 100%;
}
.element-actions {
    display: none;
    position: absolute;
    padding: .8em;
    top: 0;
    right: 0;
}
.element-actions-new {
    padding: .8em;
    text-align: center;
}
.save-action {
    display: none;
}
.text-title {
    font-size: 1.6em;
}
.text-normal {
    font-size: 1.4em;
}

.input-text {
    width: 20em;
}

.img-button {
    height: 2.4em;
}

.service-status {
    display: inline-block;
    width: 7em;
    margin-right: .4em;
    padding: .2em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    -ms-border-radius: .3em;
    -khtml-border-radius: .3em;
    border-radius: .3em;
    letter-spacing: .1em;
    text-shadow: .1em .1em .1em rgba(25, 25, 25, 0.7);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
}
.service-running {
    background-color: green;
}
.service-stopped {
    background-color: red;
}

.log-overlay {
    display: none;
    z-index: 9999;
    width: 90%;
    height: 90%;
    background-color: black;
    -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
}
.log-actions {
    position: absolute;
    top: .8em;
    right: .8em;
}
.log-overlay-content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
