html, body {
    background: #222;
    margin: 0;
    padding: 0;
    color: #bbb;
    font: 12px helvetica, arial, sans-serif;
    }

html {
    overflow-y: scroll;
    }

a, a:link, a:active, a:visited {
    text-decoration: none;
    color: #bbb;
    }
a:hover {
    color: #fff;
    }

table {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    }

form {
    margin: 0;
    padding: 0;
    }
input, select, button, textarea {
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
    background: #333;
    border: 0;
    color: #888;
    font: 12px helvetica, arial, sans-serif;
    resize: none;
    }
textarea {
    width: 600px;
    height: 100px;
    }

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    width: 100%;
    height: auto;
    margin: 0;
    padding: 4px;
    overflow: auto;
    font: 11px monospace;
    }

.title {
    font-size: 16px;
    }
.content_color {
    background: #272727;
    }
.content {
    margin: 0px 140px 0px 140px;
    }
.content_form {
    margin: 3px 0 3px 0;
    padding: 16px;
    }
.content_element {
    margin: 3px 0 3px 0;
    padding: 0 16px 0 16px;
    }
.title {
    font-size: 16px;
    width: auto;
    }

.button {
    width: 70px;
    }
.button:hover {
    background-color: #555;
    }

.td_button {
    width: 1px;
    }
.img_button {
    height: 20px;
    }

/* the overlayed element */
.log_overlay {
    display: none;
    z-index: 10000;
    width: 90%;
    height: 90%;
    background: black;
    }
pre.contentWrap {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 11px;
    }
